/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* Standard styles */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS variabler */
:root {
    --header-height: 3.5rem;
    --z-fixed: 100;
}

/* Farver */
:root {
    --beige: #e9e4d6;
    --cta: #cd3c4b;
    --blue: #4f5f75;
    --laks: #d07866;
    --grey: #3e3e3e;
    --hvid: #ffffff;
    --sort: #000000;
}

/* Tekst */
:root {
    --overskrift: 'Playfair Display', serif;
    --tekst: 'Georgia', sans-serif;
    --h1-mobil: 32px;
    --h1-web: 42px;
    --h2: 24px;
    --p: 18px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    z-index: var(--z-fixed);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--beige);
}

/* Navigation */
ul {
    font-family: var(--tekst);
    list-style: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Hamburger toggle */
.header_toggle {
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    /* Navigation */
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--hvid);
        width: 80%;
        height: 100vh;
        padding: 2rem 0;
        z-index: var(--z-fixed);
        transition: .5s;
        overflow-y: auto;
        color: var(--grey);
    }
}

/* Menupunkter */
.nav_content {
    display: flex;
    flex-direction: column;
}

.nav_item {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.nav_link {
    color: var(--grey);
}

/* Logo */
.nav_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.nav_img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
}

.nav_img img {
    width: 250px;
}

/* Vis navbar */
.show {
    left: 0;
}

/* Dropdown menu */
.dropdown_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown_icon {
    font-size: 1.3rem;
    transition: .5s;
}

.dropdown_menu {
    margin: 1.5rem 0 0 1rem;
    display: none;
}

.dropdown_item {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
}

.dropdown:hover > .dropdown_menu {
    display: block;
}

.dropdown:hover .dropdown_icon {
    transform: rotate(180deg);
}

/* Media queries til header */
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    /* Header */
    .header {
        height: calc(var(--header-height) + 1.8rem);
    }

    .header_toggle {
        display: none;
    }

    /* Navigation */
    .nav {
        width: 100%;
    }

    .nav_content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* Logo */
    .nav_logo {
        flex-direction: row;
        text-align: initial;
        margin-bottom: 0;
    }

    .nav_img {
        margin-right: .5rem;
        margin-bottom: 0rem;
    }

    .nav_img img {
        width: 180px;
    }

    /* Menupunkter */
    .nav_list {
        display: flex;
        align-items: center;
        float: right;
    }

    .nav_item {
        margin: 0 1.5rem;
        padding: 1.4rem 0;
    }

    .nav_link {
        color: var(--sort);
    }

    /* Dropdown menu */
    .dropdown {
        position: relative;
    }

    .dropdown_menu {
        position: fixed;
        margin: 0;
        top: calc(var(--header-height) + 1rem);
        padding: .5rem 1rem;
        background-color: var(--beige);
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Banner */
.banner {
    width: 100%;
    height: 550px;
    background-image: url(../images/banner-kampagne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.banner h1 {
    padding-top: 60px;
    font-family: var(--overskrift);
    font-size: var(--h1-mobil);
    color: #303236;
}

.banner p {
    font-size: 18px;
    font-family: var(--tekst);
    padding-top: 15px;
    line-height: 1.4;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 25px;
}

a {
    text-decoration: none;
    color: white;
}

#knap {
    border-radius: 3px;
    border: 2px solid #cd3c4b;
    cursor: pointer;
    background: var(--cta);
    padding: 10px 10px;
    outline: none;
    font-size: var(--p);
    font-family: var(--tekst);
    font-weight: bold;
    text-transform: uppercase;
}

/* Intro til julekalender */
#effect {
    text-align: center;
    padding-top: 40px;
    line-height: 1.4;
    background-color: #4f5f75;
    color: var(--hvid);
    padding-bottom: 20px;
}

#effect h2 {
    font-family: var(--overskrift);
    font-size: 28px;
}

#effect p {
    font-family: var(--tekst);
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 40px;
}

/* E-mail-form */
.container h3 {
    font-family: var(--overskrift);
    font-size: 22px
}

.container p {
    font-size: var(--p);
    font-family: var(--tekst);
}

.email-box {
    height: 44px;
    display: flex;
    justify-content: center;
}

.email-box i {
    background: var(--cta);
    width: 40px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #cd3c4b;
    font-size: 22px;
}

::placeholder {
    font-family: var(--tekst);
}

.tbox,
btn {
    border: none;
    outline: none;
}

.tbox {
    width: 0;
    transition: 0.6s;
}

.email-box:hover > .tbox,
.tbox:focus {
    width: 260px;
    padding: 0 10px;

}

.btn {
    background: var(--cta);
    color: white;
    font-family: var(--tekst);
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    font-size: var(--p);
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #cd3c4b;
}

/* Adventskalender */
.wrapper-calender {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.box-calender {
    background-color: aliceblue;
    color: black;
    padding: 80px;
    display: grid;
    font-size: 40px;
    place-items: center;
    text-align: center;
}

.content i {
    font-size: 40px;
    margin: 10px;
}

.content img {
    width: 125px;
}

.one {
    background: #feada7;
}

.two,
.four {
    background: #ff6861;
}

.three {
    background: #0c555c;
}

.five {
    background: #ccdfcc;
}

.box-calender,
.five {
    font-family: var(--tekst);
    font-size: 22px;
    line-height: 1.4;
}

.christmas h3 {
    padding-bottom: 20px;
}

.christmas img {
    width: 125px;
}

.hoho img {
    width: 150px;
}

/* 1. advent flip kort */
.card {
    width: 100%;
    height: 250px;
    perspective: 1000px;
    color: black;
    display: grid;
    font-size: 40px;
    place-items: center;
    text-align: center;
    background: #ccdfcc;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border: none;
}

.card__inner img {
    width: 125px;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}

.card__face--front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--back {
    transform: rotateY(180deg);
}

.card__content {
    padding: 35px;
}

.card__content h3 {
    font-family: var(--overskrift);
    font-size: var(--h2);
}

.card__content p {
    font-family: var(--tekst);
    font-size: var(--p);
    line-height: 1.4;
}

#knap-2 {
    outline: none;
    padding: 5px 5px;
    font-size: var(--p);
    font-family: var(--tekst);
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #cd3c4b;
    cursor: pointer;
    text-transform: uppercase;
    background: var(--cta);
}

.card__content a {
    color: var(--hvid);
}

/* Audio */
.content h3 {
    font-family: var(--tekst);
    font-size: 22px;
    font-weight: normal;
    line-height: 1.4;
}

/* SVG animation */
.svg-container {
    margin-top: -200px;
    margin-bottom: -150px;
}

.svg-container svg {
    width: 100%;
}

#hojrearm {
    animation: arm 2s infinite alternate;
}

@keyframes arm {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(15px);
    }

    100% {
        transform: translateY(0px);
    }
}

#hat {
    animation: flyv 1s infinite alternate;
    transform-origin: bottom;
}

@keyframes flyv {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(10deg);
    }
}

#gaver {
    animation: gift 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

@keyframes gift {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(30deg);
    }
}

#juletra,
#stjerne,
#snor,
#lys {
    animation: tree 1s infinite alternate;
    transform-origin: bottom;
}

@keyframes tree {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1deg);
    }
}

/* Media queries til content */
@media screen and (min-width: 768px) {
    .main {
        bottom: 0;
    }

    /* Banner */
    .banner {
        height: 700px;
        padding-top: 50px;
    }

    .banner h1 {
        font-size: var(--h1-web);
    }

    .banner p {
        font-size: 22px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .banner button {
        transition: all 0.3s ease;
    }

    .banner button a {
        font-size: 22px;
    }

    #knap:hover {
        background: var(--hvid);
    }

    a:hover {
        color: var(--cta);
    }

    /* Intro julekalender */
    #effect p {
        margin-left: 120px;
        margin-right: 120px;
        font-size: var(--p);
    }

    /* Email form */
    .container h3 {
        font-family: var(--overskrift);
        font-size: 26px;
        text-align: center;
    }

    .container p {
        font-family: var(--tekst);
        font-size: 18px;
        line-height: 30px;
    }

    .email-box i {
        width: 60px;
        line-height: 40px;
        font-size: 23px;
        transition: all 0.3s ease;
    }

    .email-box i:hover {
        background: var(--hvid);
        color: var(--cta);
    }

    .btn {
        width: 140px;
        font-size: 20px;
        transition: all 0.3s ease;
    }

    .btn:hover {
        background: var(--hvid);
        color: var(--cta);
    }

    /* Adventskalender */
    .wrapper-calender {
        margin-left: 150px;
        margin-right: 150px;
    }

    .wrapper-calender .box-calender:nth-child(1) {
        grid-column: span 2;
        grid-row: span 1;
    }

    .wrapper-calender .box-calender:nth-child(2) {
        grid-column: span 1;
        grid-row: span 2;
    }

    .wrapper-calender .box-calender:nth-child(4) {
        grid-column: span 1;
        grid-row: span 2;
    }

    .wrapper-calender .box-calender:nth-child(5) {
        grid-column: span 3;
        grid-row: span 1;
    }

    /* Adventkalender */
    .card {
        height: 300px;
    }

    .card__content {
        padding: 45px;
    }

    #knap-2:hover {
        background: var(--hvid);
    }

    /* Svg animation */
    .svg-container {
        margin-top: 0;
        margin-bottom: 50px;
    }

}

/* Footer */
.footer {
    font-size: 1.1rem;
    padding: 20px 0;
    line-height: 1.7;
    font-family: var(--tekst);
}

.footer_text,
.footer_link,
.footer_title {
    color: var(--sort);
    padding: 3px 15px;
    display: block;
}

.footer_sections {
    display: flex;
    flex-wrap: wrap;
}

.footer_section {
    width: 100%;
    padding: 15px 0;
    flex-shrink: 0;
}

.footer_title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_link {
    text-decoration: none;
}

.footer_link i {
    margin-right: 10px;
}

.footer_section img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copy {
    font-style: italic;
    font-size: 1rem;
}

/* Media queries til footer */
@media screen and (min-width: 768px) {
    .footer {
        bottom: 0;
    }

    .footer_section {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .footer_text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {

    footer_section,
    .footer_text {
        margin-left: 80px;
        margin-right: 80px;
    }
}
