/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* Standard styles */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS variabler */
:root {
    --header-height: 3.5rem;
    --z-fixed: 100;
}

/* Farver */
:root {
    --beige: #e9e4d6;
    --cta: #cd3c4b;
    --blue: #4f5f75;
    --laks: #d07866;
    --grey: #3e3e3e;
    --hvid: #ffffff;
    --sort: #000000;
}

/* Tekst */
:root {
    --overskrift: 'Playfair Display', serif;
    --tekst: 'Georgia', sans-serif;
    --h1-mobil: 32px;
    --h1-web: 42px;
    --h2: 24px;
    --p: 18px;
}

/* Header */
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    z-index: var(--z-fixed);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

/* Navigation */
ul {
    font-family: var(--tekst);
    list-style: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Hamburger toggle */
.header_toggle {
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    /* Navigation */
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--hvid);
        width: 80%;
        height: 100vh;
        padding: 2rem 0;
        z-index: var(--z-fixed);
        transition: .5s;
        overflow-y: auto;
        color: var(--grey);
    }
}

/* Menupunkter */
.nav_content {
    display: flex;
    flex-direction: column;
}

.nav_item {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.nav_link {
    color: var(--grey);
}

/* Logo */
.nav_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.nav_img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
}

.nav_img img {
    width: 250px;
}

/* Vis navbar */
.show {
    left: 0;
}

/* Dropdown menu */
.dropdown_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown_icon {
    font-size: 1.3rem;
    transition: .5s;
}

.dropdown_menu {
    margin: 1.5rem 0 0 1rem;
    display: none;
}

.dropdown_item {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
}

.dropdown:hover > .dropdown_menu {
    display: block;
}

.dropdown:hover .dropdown_icon {
    transform: rotate(180deg);
}

/* Media queries til header */
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    /* Header */
    .header {
        height: calc(var(--header-height) + 1.8rem);
    }

    .header_toggle {
        display: none;
    }

    /* Navigation */
    .nav {
        width: 100%;
    }

    .nav_content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* Logo */
    .nav_logo {
        flex-direction: row;
        text-align: initial;
        margin-bottom: 0;
    }

    .nav_img {
        margin-right: .5rem;
        margin-bottom: 0rem;
    }

    .nav_img img {
        width: 180px;
    }

    /* Menupunkter */
    .nav_list {
        display: flex;
        align-items: center;
        float: right;
    }

    .nav_item {
        margin: 0 1.5rem;
        padding: 1.4rem 0;
    }

    .nav_link {
        color: var(--sort);
    }

    /* Dropdown menu */
    .dropdown {
        position: relative;
    }

    .dropdown_menu {
        position: fixed;
        margin: 0;
        top: calc(var(--header-height) + 1rem);
        padding: .5rem 1rem;
        background-color: white;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

}

/* Styling af split-screen øvers på siden*/
.split-screen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
}

.left {
    height: 300px;
}

.left,
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background-image: url(../images/isisis.jpg);
    background-size: cover;

}

.right .copy {
    text-align: center;
    height: 340px;
}

.right p {
    font-family: 'Georgia', sans-serif;
    font-size: var(--tekst);
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.4;
    font-style: normal;
}

.sne {
    width: 100%;
    height: 300px;
}

.right h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-top: 35px;
    font-style: normal;

}

.right {
    background: #e9e4d6;
}

.knap {
    margin-top: 30px;
    margin-bottom: 55px;
    font-weight: bold;
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 3px;
    border: 2px solid #cd3d4b;
    cursor: pointer;
    outline: none;
    background: var(--cta);
    text-transform: uppercase;
}

#down {
    position: relative;
    top: 40px;
}

a {
    color: var(--hvid);
    text-decoration: none;
    font-style: normal;
}


/* madia queries til split-screen */
@media screen and (min-width: 700px) {

    .left,
    .right {
        width: 50%;
    }

    .left {
        float: left;
        height: 666px;
    }

    .right {
        height: 666px;
    }

    .right h1 {
        font-size: 42px;
    }

    .right p {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        line-height: 1.5;
        font-size: 18px;
    }

    .knap {
        margin-top: 50px;
        margin-bottom: 0px;
        transition: all 0.3s ease;
    }

    .knap:hover {
        background: var(--hvid);
    }

    a:hover {
        color: var(--cta);
    }

    .sne {
        width: 100%;
        height: 600px;
    }

}

/* tekst om promenaden */
.osk {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-align: center;
    margin-top: 25px;
}

.oska {
    font-family: 'Georgia', sans-serif;
    font-size: var(--tekst);
    line-height: 1.4;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Media queries til tekststykke */
@media screen and (min-width: 700px) {
    .oska {
        margin-right: 190px;
        margin-left: 190px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 18px;
    }
}

/* styling af bokse der glider ind */
.container {
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

img {
    width: 100%;
}

.card {
    background: #4f5f75;
    margin-bottom: 2rem;
    padding-bottom: 30px;
}

.card h2 {
    margin-bottom: 2rem;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

.card p {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.box-knap {
    margin-left: 15px;
}

/* Media queries til bokse */
@media screen and (min-width: 700px) {
    .container {
        max-width: 1100px;
        margin: auto;
        overflow: auto;
        padding: 0 2rem;

    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        padding-bottom: 0px;
    }

    .card > div {
        padding: 2rem;

    }

    /*her bestemmes, at hver anden boks skal have tekst først og så billede, og omvendt med de andre bokse */
    .card:nth-child(even) img {
        order: 2;
    }
}

/* Footer */
.footer {
    font-size: 1.1rem;
    padding: 20px 0;
    line-height: 1.7;
    font-family: var(--tekst);
}

.footer_text,
.footer_link,
.footer_title {
    color: var(--sort);
    padding: 3px 15px;
    display: block;
}

.footer_sections {
    display: flex;
    flex-wrap: wrap;
}

.footer_section {
    width: 100%;
    padding: 15px 0;
    flex-shrink: 0;
}

.footer_title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_link {
    text-decoration: none;
}

.footer_link i {
    margin-right: 10px;
}

.footer_section img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copy {
    font-style: italic;
    font-size: 1rem;
}

/* Media queries til footer */
@media screen and (min-width: 768px) {
    .footer {
        bottom: 0;
    }

    .footer_section {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .footer_text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {

    footer_section,
    .footer_text {
        margin-left: 80px;
        margin-right: 80px;
    }
}
